#iphone-body{
	width:320px;
	min-height:480px;
	background-image:url('../img/wallpaper_lake.jpg');
}

#status-bar{
	padding-top:2px;
	padding-bottom:2px;
	background:#000;
	color:#EEE;
}

.icon-row{
	height:80px;
}

.first-icon-row{
	padding-top:10px;
}

.icon{
	float:left;
	width:80px;
	font-size:0.8em;
}

.placeholder{
	opacity:0.6;
}