#iphone-body{
	width:320px;
	min-height:480px;
	background-image:url('../img/wallpaper_lake.jpg');
}

#status-bar{
	padding-top:2px;
	padding-bottom:2px;
	background:#000;
	color:#EEE;
}

#battery{
	position:absolute;
	top:1px;
	right:2px;
}

.iphone-app{
	width:320px;
	height:480px;
}

/* alarm pages */

#alarm-off{
	background-image:url('../img/phone_screens/alarm_off-01.png');
}
#alarm-on{
	background-image:url('../img/phone_screens/alarm_on-01.png');
}
#trigger-alarm{
	background-image:url('../img/phone_screens/alarm_snooze-01.png');
}

#alarm-toggle{
	position:absolute;
	top:237px;
	left:225px;
	width:71px;
	height:39px;
	background:none;
	border-radius:2px;
}
#alarm-toggle:hover, .alarm-trigger-link:hover{
	background:#77f;	
	opacity:0.3;
}

.alarm-trigger-link{
	position:absolute;
	left:34px;
	width:257px;
	height:59px;
	border-radius:5px;
	background:none;
}


#snooze{
	top:339px;
}
#turn-off{
	top:404px;
}
/* lock screen */
#lock-screen{
	background-image:url('../img/phone_screens/home_wbutton-01.png');
}

#off{
	background:#000;
}
#off p{
	padding-top:200px;
	font-size:2em;
	color:#eee;
}
/* chat pages */
#chat{
	background-image:url('../img/phone_screens/sms-01.png');
}
#chat-sent{
	background-image:url('../img/phone_screens/sms_sent-01.png');
}

#send-sms{
	position:absolute;
	top:416px;
	left:240px;
	height:37px;
	width:72px;
	border-radius:4px;
	background:none;
}
#send-sms:hover{
	background:#77f;
	opacity:0.3;
}


/* voice pages */
#voice-home{
	background-image:url('../img/phone_screens/voice_home-01.png');
}
#voice-weather{
	background-image:url('../img/phone_screens/voice_weather-01.png');
}
#voice-text{
	background-image:url('../img/phone_screens/voice_text-01.png');
}
#voice-search{
	background-image:url('../img/phone_screens/voice_search-01.png');
}

.voice-link{
	width:293px;
	height:64px;
	position:absolute;
	left:12px;
	border-radius:5px;
	background:none;
}

.voice-link:hover{
	background:#77f;
	opacity:0.3;
}

#voice-weather-link{
	top:222px;
}

#voice-text-link{
	top:297px;
}

#voice-search-link{
	top:372px;
}

#voice-back{
	position:absolute;
	top:410px;
	left: 107px;
	width:112px;
	height:45px;
	border-radius:4px;
	background:none;
}
#voice-back:hover{
	background:#77f;
	opacity:0.5;
}

/* calendar pages */
#calendar{
	background-image:url('../img/phone_screens/calendar-01.png');
}
#calendar-add{
	background-image:url('../img/phone_screens/calendar_setevent-01.png');
}

a#calendar-add-page{
	position:absolute;
	top:292px;
	left:179px;
	height:40px;
	width:40px;
	background:none;
}

#calendar-add-page:hover, .calendar-link:hover{
	background:#77f;
	opacity:0.5;
}

.calendar-link{
	position:absolute;
	top:374px;
	width:87px;
	height:29px;
	background:none;
}
#add-event{
	left:59px;
}
#cancel-event{
	left:175px;
}


/* Notification/loading messages */

#notification-bar, #load-screen{
	width:320px;
	position:absolute;
	top:16px;
	display:none;
}

#notification-bar{
	background-image:url('../img/phone_screens/notification-01.png');
	height:62px;
	z-index:1000;
}
#notification-message{
	padding:10px;
	padding-left:60px;
}

#load-screen{
	z-index:999;
	background:#2c2c2c;
	height:480px;
	color:#ddd;
	text-align:center;
	font-size:2em;
	padding-top:200px;
}

#load-message{
	padding-top:20px;
}

/* icon display styles */

.icon-row{
	height:80px;
}

.first-icon-row{
	padding-top:10px;
}

.icon{
	float:left;
	width:80px;
	font-size:0.8em;
}

.icon a{
	text-decoration:none;
	color:#FFF;
	text-shadow:1px 1px 4px #333;
}

.placeholder{
	opacity:0.6;
}

.bottom-row{
	position:absolute;
	top:330px;
}

.bottom-row img{
	margin-bottom:5px;
}

.bottom-row p{
	width:320px;
}