body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	background:#FFDDDD;
}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
}
h1{ font-size: 2em;}
h2{ font-size: 1.5em;}
h3{ font-size: 1.2em;}


/* Common classes */
.float-right{ float:right;}
.float-left{ float:left;}
.text-left{ text-align:left;}
.text-right{ text-align: right;}
.text-center{text-align:center;}
.margin-auto{ margin:auto;}

#activate_d{
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
}

#diagnostics{
    float: left;
    width: 100%;
    background-color: #333;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 10px;
    size: 100px;
}
/*end common classes  */

#header{
	width: 100%;
	background:#333;
	color:#FFF;
	position:fixed;
	top:0px;
	padding:10px;
	z-index:3000;
}

/* Style for the iPhone iframe */
#iphone-div{
	margin:auto;
	margin-top:100px;
;
	height:782px;
	width:426px;
	background-image:url('../img/iphone.png');
	
}

#iphone-iframe{
	position:relative;
	top:149px;
	left:54px;
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

.div-link{
	display:block;
	background:#77f;
	opacity:0.3;
	text-decoration:none;
}
.div-link:hover{
	background:blue;
	opacity:0.5;
	color:#fff;
	font-size:1em;
}


#home-button{
	position:relative;
	top:179px;
	left:179px;
	height:70px;
	width:70px;
	z-index:500;
	border-radius:35px;
}
#home-button:hover:before{
	content:"click for phone's homescreen";

}
/* End iphone iframe style */